div.explore-view {
  width: 100%;
  > div.explore-view-header__relevant-tags-wrapper {
    width: 96%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0.4em;
    gap: 12px;
    overflow: scroll;
    > span.explore-header__relevant-tag {
      font-weight: 500;
      font-size: 14px;
      padding: 0.2em;
      border: 1.4px solid var(--black);
      border-radius: 4px;
      text-align: center;
      &:hover {
        background-color: var(--gray-1);
      }
    }
  }
  > div.explore-view__posts-content-wrapper {
    margin-top: 2em;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    grid-template-columns: auto auto auto;
    > div.explore-post-view-content-wrapper {
      margin: auto;
      width: fit-content;
      > img.explore-post-content-image {
        width: 160px;
      }
      &:hover {
        filter: brightness(60%);
      }
    }
  }
}